/* header */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

::selection {
	color: white;
	background: black;
}

.container {
	margin: 65px auto 80px;
	width: fit-content;
	display: flex;
	align-items: center;
}

.logo {
	border: 0px solid black;
	background-color: black;
	position: relative;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	overflow: hidden;
}

.moon {
	position: absolute;
	right: 40%;
	/*200px*/
	top: 24%;
	/*120px*/
	animation: down 2s ease;
	width: 60%;
	/*300px*/
	height: 60%;
}

.moon .outer {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.moon .inner {
	position: absolute;
	border-radius: 50%;
	width: 83.3%;
	height: 83.3%;
	background-color: white;
	top: 0;
	left: 23.3%;
	background-color: black;
}

.logo .m {
	user-select: none;
	color: white;
	top: 25%;
	/*150px*/
	left: 15%;
	/*75px*/
	position: absolute;
	font-family: "Montserrat", sans-serif;
	/* font-size: 100%; use script*/
	font-weight: bold;
	animation: up 2s ease;
}

/* place */
.place {
	text-align: center;
	z-index: 1;
	height: fit-content;
	animation: right 2s ease-in forwards;
}

/* title */
.place .title {
	font-family: "Montserrat", sans-serif;
	font-size: 98px;
	margin-bottom: 7px;
}

/* nav */
nav {
	margin: 0 auto;
	width: 80%;
}

.place ul {
	display: flex;
}

nav ul li {
	margin: 5px;
}

nav a {
	user-select: none;
	font-family: monospace;
	text-decoration: none;
	font-size: 20px;
	color: black;
	flex-grow: 1;
	text-align: center;
	background-color: #000;
	color: white;
	border: 1px solid black;
}

nav a:hover {
	background-color: #fff;
	color: black;
}

@keyframes up {
	from {
		top: 50%;
	}

	to {
		top: 25%;
	}
}

@keyframes down {
	from {
		top: 0;
	}

	to {
		top: 24%;
	}
}

@keyframes right {
	from {
		opacity: 0;
		margin-left: 100px;
	}

	to {
		margin-left: -3%;
	}
}

/* main */
main {
	height: 0px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
	margin-top: 0px;
	height: 50px;
	width: 100%;
	background-color: #000;
}

/* large devices up 992 */
@media only screen and (max-width: 1200px) {
}

/* medium devices */
@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 1150px) {
	.logo {
		width: 300px;
		height: 300px;
	}

	.place .title {
		font-size: 60px;
	}

	.place {
		padding-top: 15px;
	}

	nav {
		width: 100%;
	}
}

/* small devices */
/* @media only screen and (max-width: 768px) {
    .m {
        font-size: 100vmax;
    }
} */

/* Extra small devices */
@media only screen and (max-width: 720px) {
	.container {
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
	}

	.logo {
		margin-bottom: 10px;
	}

	.m {
		font-size: 100vw;
	}

	/* title */
	.place {
		animation: none;
	}

	.place .title {
		font-size: 50px;
	}

	nav {
		width: 100%;
	}

	nav a {
		font-size: 16px;
	}
}

@media only screen and (max-height: 560px) {
	.container {
		margin: 20px auto;
	}
}
